*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

h1{
    margin-bottom: 70px;
    color: rgba(0, 0, 0, 0.527);
}

main{
    width: 20%;
    background:linear-gradient(to right, rgba(0, 255, 255, 0.157), rgba(107, 215, 251, 0.267));
    padding: 80px 50px;
    border-radius: 20px;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.109), 5px 5px 10px rgba(0, 0, 0, 0.109);
}

label{
    font-size: larger;
    color: rgba(8, 0, 117, 0.479);
    font-weight: 600;
}
input{
    margin-bottom: 20px;
   width: 100%;
   background-color: rgba(153, 153, 153, 0.096);
   height: 30px;
   border: none;
   border-radius: 5px;
   padding-left:15px ;
   outline-color: rgba(0, 78, 180, 0.596);
   font-weight: 600;
   color: rgb(32, 0, 92);
}

input:focus{
    background-color: white;
}

::placeholder{
    color: rgba(0, 11, 170, 0.26);
}

.btn-container{
    display: grid;
    place-items: center;
}

.btn-container p{
    color: rgb(197, 0, 0);
    font-weight: 600;
}
button{
    border: none;
    background-color: rgba(11, 0, 170, 0.712);
    padding: 15px 30px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    transition: box-shadow 100ms ease, background-color 100ms ease;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    background-color: rgba(8, 0, 121, 0.719);

}

@media screen and (max-width:688px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        border: 3px solid rgb(78, 170, 255);
        border-radius: 20px;
        padding: 10px;
        margin: 50px 10px;
    }
    main{
        width: 80%;
        padding: 80px 30px;
    }
    input{
        width: 95%;
    }
    
}